#!/bin/bash

# set project path
export PYTHONPATH=$(pwd)

# set max threads for numexpr
if type lscpu &> /dev/null; then 
  export NUMEXPR_MAX_THREADS=$(lscpu | grep "^CPU(s):" | awk '{print $2}')

elif [ -f /proc/cpuinfo ]; then
  export NUMEXPR_MAX_THREADS=$(grep -c ^processor /proc/cpuinfo)
fi
