# Project directories
export PROJECT_ROOT=$(pwd)
export SRC_DIR="$PROJECT_ROOT/src"
export DATA_DIR="$PROJECT_ROOT/data"
export TEST_DIR="$PROJECT_ROOT/test"

# Conda variables
export PYTHONPATH="$PROJECT_ROOT"

# NumExpr options
export NUMEXPR_MAX_THREADS=64
